<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container">
		<div class="navbar-text pull-left">
			<ul class="list-inline">
  				<li><a href="#">Help</a></li>
  				<li><a href="#">Email Us</a></li>
  				<li><a href="#">Upgrade Plan</a></li>
			</ul>
		</div>
	</div>
</div>
