
<div class="well">
  <h2>Welcome to CrowdFlower, you amazing the beast!</h2>
	<p>Get familiar with usby creating your first Crowdflower job</p>
</div>

	
<h3>What would you like to do?</h3>


<div class="row">

  <div class="col-md-3 col-sm-3" ng-repeat="item in vm.items | limitTo: vm.itemsLimit()">
    <div class="thumbnail">
      <img ng-src="{{item.image_name}}" class="img-responsive img-thumbnail img-background">
      <div class="caption">
        <a href="#">{{item.desc}}</a>
      </div>
    </div>
  </div>

</div>

<div ng-show="vm.hasMoreItemsToShow()" class="clearfix">
  <a id="drop3" class="pull-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="vm.showMoreItems()">
    See More
    <span class="caret"></span>
  </a>
</div>

<hr />

<div class="rec-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-module">
        <h3><strong>Need Help getting started?</strong></h3>
        <ol class="list-unstyled left-nav-list">
          <li><a href="#">Read help docs</a></li>
          <li><a href="#">View example case studies</a></li>
          <li><a href="#">Watch training videos</a></li>
        </ol>
      </div>
    </div> <!-- end of left side menu -->

    <div class="col-md-9">
      <div class="sidebar-module">
        <h3><strong>Don's see what you're looking for?</strong></h3>

        <label>Tell us what your data needs - we will get back to you with a recommendation</label>

        <div class="well well-lg">
          <div class="alert alert-danger" ng-if="vm.errors.length">
            <ul>
              <li ng-repeat="error in vm.errors">
                {{error}}
              </li>
            </ul>
          </div> <!-- end of alert danger -->
          <div class="alert alert-success" ng-if="vm.success">
            <ul>
              <li>
                Your feedback has been submitted successfully. We will get back to you soon!
              </li>
            </ul>
          </div> <!-- end of alert success -->
          <form role="form" class="css-form clearfix" name="vm.resourceForm" novalidate>
            <div class="form-group">
              <textarea class="form-control" ng-required="true"
              ng-model="vm.resource.content" ng-maxlength="140" placeholder="Describe your data goals in a short summary."></textarea>

              <div class="hint" ng-class="{'alert-warning': vm.resource.content.length >= 120, 'alert-error': vm.resource.content.length >= 141 }">{{vm.resource.content.length || 0}} of 140.</div>
            </div>
            <div class="form-group">
              <label><strong>Attach a sample of your data(optional)</strong></label>
              <input type="file" class="file-inputs" ngf-select ng-model="vm.resource.attachment" />
            </div>

            <div class="form-group clearfix">
              <button type="button" class="btn btn-primary btn-lg pull-right" ng-disabled="!vm.resourceForm.$valid" ng-click="vm.save(vm.resource)">Send</button>
            </div>
          </form> <!-- end of form -->   
        </div>
      </div>
    </div> <!-- end of right side rec form -->
  </div> <!-- end of row -->

  <div class="row spacer">
    <div class="col-xs-12"></div>
  </div>

</div> <!-- end of rec_container -->
