@import "bootstrap";

body {
  padding-top: 70px;
}

.navigation-container {
	margin-top: 16px;
}

.movie-details {
	min-height: 300px;
}
.img-background {
	background-color: #f0f4f5;
}
.css-form textarea.ng-invalid.ng-touched {
  background-color: #FA787E;
}
.css-form textarea.ng-valid.ng-touched {
	background-color: #78FA89;
}
.rec-container .sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
